---
import Layout from "../layouts/Layout.astro";

import Menu from "../components/Menu.astro";
import Logotype from "../components/Logotype.astro";
import Share from "../components/Share.astro";
---

<Layout>
  <main class="main">
    <section class="container">
      <Logotype />
      <Menu />
      <Share />
    </section>
  </main>

  <style lang="scss">
    .main {
      height: 100%;
      background-color: var(--primary-color);

      display: flex;
      align-items: center;
      justify-content: center;
    }
    .container {
      display: grid;
      gap: 20px;
    }
  </style>
</Layout>
