---
import Layout from "../layouts/Layout.astro";
import Logotype from "../assets/logotype.svg";

import { Sprite } from "astro-icon";

const menus: {
  icon: string;
  url: string;
}[] = [
  {
    icon: "fa:twitter",
    url: "https://twitter.com/nirsmmy",
  },
  {
    icon: "mdi:web",
    url: "https://nectarition.jp/posts/",
  }
];
---

<Layout>
  <main class="main">
    <section class="container">
      <div class="link">
        <Sprite.Provider>
          {
            menus.map((item) => (
              <a class="link_icon" href={item.url}>
                <Sprite name={item.icon} />
              </a>
            ))
          }
        </Sprite.Provider>
      </div>
      <div class="logo">
        <img class="logo" src={Logotype} />
      </div>
      <div class="share">
        <a class="button" href="">SHARE</a>
      </div>
    </section>
  </main>

  <style lang="scss">
    .main {
      height: 100%;
      background-color: var(--primary-color);

      display: flex;
      align-items: center;
      justify-content: center;
    }
    .container {
      display: grid;
      gap: 20px;
    }
    .logo {
      text-align: center;
      img {
        height: 48px;
      }
    }
    .link {
      display: flex;
      gap: 5px;
      align-items: center;
      justify-content: center;
      &_icon {
        font-size: 0;
        svg {
          display: inline-block;
          width: 24px;
          height: 24px;
          color: #ffffff;
        }
      }
    }
    .share {
      text-align: center;
    }

    .button {
      display: inline-block;
      background-color: #ffffff;
      padding: 10px;
      color: var(--primary-color);
      font-weight: bold;
      text-decoration: none;
      border-radius: 10px;
    }
  </style>
</Layout>
