---
import Logotype from "../assets/logotype.svg";
---

<div class="logo">
  <img class="logo" src={Logotype} />
</div>

<style lang="scss">
  .logo {
    text-align: center;
    img {
      height: 48px;
    }
  }
</style>
