<div class="share">
  <a
    class="button"
    href="https://x.com/intent/tweet?text=SOMEMIYA%20NEIRO%20https%3A%2F%2Fnrsy.jp%20%40nirsmmy"
    target="_blank"
    >シェアしてね！</a
  >
</div>

<style lang="scss">
  .share {
    text-align: center;
  }
  .button {

  }
</style>
