---
export interface Props {
  title?: string;
}

const propsTitle = Astro.props.title;
const title = propsTitle ? `${propsTitle} - nrsy.jp` : "nrsy.jp";
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <meta name="description" content="nrsy.jp / SOMEMIYA NEIRO" />

    <meta property="og:title" content="nrsy.jp" />
    <meta property="og:site_name" content="nrsy.jp" />
    <meta property="og:image" content="https://nrsy.jp/icon.png" />
    <meta property="og:url" content="https://nrsy.jp/" />
    <meta property="og:description" content="nrsy.jp / SOMEMIYA NEIRO" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@nirsmmy" />
    <meta name="twitter:title" content="nrsy.jp" />
    <meta name="twitter:description" content="nrsy.jp / SOMEMIYA NEIRO" />
    <meta name="twitter:image" content="https://nrsy.jp/icon.png" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@400;700&display=swap");
  :root {
    --primary-color: #ba3651;
  }
  * {
    box-sizing: border-box;
  }
  html,
  body {
    margin: 0;
  }

  body {
    height: 100vh;
    height: 100dvh;
    font-family: "Zen Kaku Gothic New";
    line-height: 1em;
  }

  .button {
    display: inline-block;
    background-color: #ffffff;
    padding: 10px;
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
  }
</style>
